mixin productTable(products)
  h1.h1.text-center.m-5 محصولات ساخته شده
  div.table-responsive
    table.table.table-sm.table-bordered.fs-6
      thead
        tr.text-center
          th(scope="col") #
          th(scope="col" style="padding: 0 200px") Name
          th(scope="col" style="padding: 0 200px") Slug
          th(scope="col" style="padding: 0 200px") Description
          th(scope="col" style="padding: 0 200px") Image
          th(scope="col") Images
          th(scope="col") CountInStock
          th(scope="col") IsAvailable
          th(scope="col") Category
          th(scope="col") Brand
          th(scope="col") Rating
          th(scope="col") NumReviews
          th(scope="col") Price
          th(scope="col") Discount
          th(scope="col") DiscountedPrice
      tbody
        each p in products
          tr
            td: button.btn.btn-danger(data-id=p.id) Delete
            td(dir="rtl")=p.name
            td(dir="rtl")=p.slug
            td(dir="rtl")=p.description
            td=p.image
            td=p.images.join("\n")
            td=p.countInStock
            td=p.isAvailable
            td=p.category
            td=p.brand
            td=p.rating
            td=p.numReviews
            td=p.price
            td=p.discount + "%"
            td=p.discountedPrice